@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.footer-container{
    background: #f7cb09;
    font-size: 10px;
    height: 5.6rem;
    
}
.footer-container > h1 {
    text-align: center;
    padding-top: 3%;
    letter-spacing: .3rem;
    font-family: 'Bebas Neue', cursive;
    animation:colorchange 20s infinite alternate;
}
.footer-container > h1> a {
  text-decoration: none;
}

  @keyframes colorchange {
    0% {
      
      color: blue;
    }
    
    10% {
      
      color: #8e44ad;
    }
    
    20% {
      
      color: #1abc9c;
    }
    
    30% {
      
      color: #d35400;
    }
    
    40% {
      
      color: blue;
    }
    
    50% {
      
      color: #34495e;
    }
    
    60% {
      
      color: blue;
    }
    
    70% {
      
      color: #2980b9;
    }
    80% {
   
      color: #f1c40f;
    }
    
    90% {
   
      color: #2980b9;
    }
    
    100% {
      
      color: pink;
    }
  }